body {
  font-family: 'Metal Mania', cursive;
  background-color: darkred;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

header, main, footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
